/* RESET */
* {
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
}

img{
    max-width: 100%;
}

body{
    font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* HEADER */
.flex-container{
    display: flex;
    background-color:#265fe9;
    height: 50px;
    justify-content: space-between;
    align-items: center;
}
.menu-link{
    display: flex;
    text-align: center;
    margin: 0 auto;
    justify-content: center;
 
}
.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;

}
.logo {
    text-align: left;
}
.login {
    text-align: center;
    color: black;
    background-color: white;
    border-radius: 20px;
    padding: 8px;
    width: 8px;
}
 .menu div {
    width: 100px;
    margin: 150px;
 }

ul {
    list-style-type: none;
}
.menu  li {
    margin: 0 1rem;

}

header {
  
    color: white;

}


.wrapper {
    display: flex;
    flex-direction:row;
    justify-content: center;
    background-image: url(../img/jumbo.png);
    background-size: 1334px;
    padding: 121px;
}

.header-text{

    text-align: center;
    width: 603px;
    line-height: 30px;
}
.first-title{
    margin-bottom: 15px;
}
.button{
    display: flex;
    justify-content: space-evenly;
    margin-top:10px;
   
}
.download {
    background-color: white;
    border-radius: 50px;
    color: black;
    padding: 10px;
}
.open{
    background-color: black;
    border-radius: 50px;
    padding: 10px;
}
/* /HEADER */

/* MAIN */
h1 {
    font-size: 53px;
    margin-bottom: 35px
}
h2 {
    font-size: 43px;
    margin-bottom: 30px;
}
.photo-p{
    line-height: 30px;
}
.wrappersection{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px;
}
.text-section {
    text-align: center;
}

 .big-photo-section{
    text-align: center;
 }
 .bg-color{
    background-color: #f6f6f6;
 }
 .second-download {
    background-color: #7289da;
    color: white;
    border-radius: 40px;
    margin: 2rem 30rem;
    padding: 1rem;
 }
 .suggestion{
    margin: 0;
    padding: 0;
 }
 .suggestion-title{
    font-size: 30px;
    margin-top: 40px;

 }
/* /MAIN */

/* FOOTER*/
 
 .footer-top{
    display: flex;
    flex-direction:row;
    justify-content: center;
    background-color: rgb(53, 53, 53);
    padding-top: 30px;
    padding-bottom: 30px;
    color:white;
    
    
 }
 .footer-title {
    color:#7289da;
    margin-bottom: 15px;
    
 }
 .flag{
   width: 20px;
   margin-right: 5px;
 }
.big-col{
    color: white;
    padding: 0;
    margin: 0 auto;

}
.small-col {
    padding: 0;
    margin: 0 auto;
}
hr{
    border: 1px solid #7289da;
}
.icons{
    font-size: 20px;
    margin-top: 10px;
}



footer{
    background-color:rgb(53, 53, 53);
    padding: 10px 50px;
    border-top: 1px solid white;
}
.footer-bottom {
    display: flex;
    flex-direction:row;
    justify-content: space-between;
    align-items: center;
    height: 70px;
}
button{
    background-color: #7289da;
    color: white;
    padding: 10px;
    border-radius: 50px;
}
/* /footer */